$(".modal-header").html('<h4 class="modal-title bg-beatrice text-white">Edit Phase <a><span class="fa fa-times text-white pull-right" data-dismiss="modal"></span></a></h4>');
$("#phase_form").html("<%= raw escape_javascript(render '/phases/partials/edit_phase') %>");
$("#modal_phase").modal('show');
FormsIcheck.init();
$('.selectpicker').selectpicker();

