             <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
              <a><span data-toggle="modal" data-target="#new_core_subject" class="btn bg-beatrice text-white">ADD</span></a>
            </div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Subject Name</th>
                    <th></th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @core_subjects.each do |subject| %>
                    <tr>
                      <td colspan="2"><%= subject.name%></td>
                      <!-- <td></td> -->
                      <td>
                        <a class="btn btn-default btn-sm" onclick="edit_core_subject_modal(<%=subject.id%>)"><i id="subject_modal" data-toggle=tooltip data-title="Edit Subject" class="fa fa-pencil"></i></a>
                        <%= link_to subject, data: {confirm: "Are you sure yo wish to delete this subject?"}, method: :delete, :class=>"btn btn-sm btn-danger" do %>
                        <i class="fa fa-trash" data-toggle=tooltip data-title="Delete Subject"></i><%end%>
                      </td>
                    </tr>         
                  <%end%>
                 
                </tbody>
              </table>
            </div>
          </div>
       
        </div>
        <!--.panel-->
      </div>
      <!--.col-md-12-->
                    </div>