  <div class="login-screen">
    <div class="panel-login blur-content">
      <div class="panel-heading">BEATRICE TATE</div><!--.panel-heading-->

      <div id="pane-login" class="panel-body active">
        <h2>Login to Dashboard</h2>
        <div class="form-group">
          <div class="inputer">
            <div class="input-wrapper">
              <input type="email" class="form-control" placeholder="Enter your email address">
            </div>
          </div>
        </div><!--.form-group-->
        <div class="form-group">
          <div class="inputer">
            <div class="input-wrapper">
              <input type="password" class="form-control" placeholder="Enter your password">
            </div>
          </div>
        </div><!--.form-group-->
        <div class="form-buttons clearfix">
          <label class="pull-left"><input type="checkbox" name="remember" value="1"> Remember me</label>
          <button type="submit" class="btn btn-success pull-right">Login</button>
        </div><!--.form-buttons-->

      </div><!--#login.panel-body-->


    </div><!--.blur-content-->
  </div><!--.login-screen-->

  <div class="bg-blur dark">
    <div class="overlay"></div><!--.overlay-->
  </div><!--.bg-blur-->