  <div class="col-md-3">
      <label class="control-label">Tutor Group:</label>
    </div>
    <div class="col-md-9">
    <%= hidden_field_tag "tutor_group", @tutor_group.id%>

      <label class="control-label"><%= @tutor_group.name %></label>
    </div>