<p>Hi <%=@focus.user.name%></p>
<p><%= @lo_student %>'s learning objective  '<%= raw @lo.title %>' has been closed.</p>
<p>Please select a new Learning Objective for focus in your class.</p>

 Regards
 <%=@current_user.name%>