<p>Hi <%=@user.fname%>,</p>
<p><%=raw "I’ve submitted #{@student.fname}’s <a href='#{edit_report_url(id: @rs.id, student_id: @student.id)}#tab_create_reports_subjects'>#{@rs.title}</a> for your approval  <br /> <br /> <br /> Regards <br /> #{@current_user.fname}"%></p>