<p>Hi <%=@student_tutor.fname%></p>

<p>I believe <a href="<%=student_url(@student.id)%>"><%=@student.fname%></a> has achieved their Learning Objective '<%= raw @student_lo.title%>'</p>
<p>Do you agree?</p>