<p>Hello <%= @resource.email %>!</p>

<p>Please follow the link below to reset your password,</p>

<p><%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>This page will expire in 10 minutes.</p>
<p>Regards,</p>
<p>ARR System</p>
